@import "tailwindcss";

/* Define custom font faces */
/* @font-face {
  font-family: 'AvantGardeDemi';
  src: url('/fonts/avantgarde_demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'VayuSans-SemiBold';
  src: url('/fonts/VayuSans-SemiBold') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'YDYooncheB';
  src: url('/fonts/YDYoonche_B.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'custome';
  src: url('/fonts/custome.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #ffffff;
  --foreground: #ffffff;
  /* --font-avantgarde: 'AvantGardeDemi', 'Avant Garde', Arial, Helvetica, sans-serif; */
  --font-VayuSans: 'VayuSans-SemiBold', Arial, Helvetica, sans-serif;
  /* --font-yoonche: 'YDYooncheB', Arial, Helvetica, sans-serif; */
  --font-custome: 'custome', Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-yoonche);
}

/* Apply YDYoonche B font to all headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-custome);
  font-weight: 600;
}

/* Apply AvantGarde Demi to all paragraphs */
p {
  font-family: var(--font-VayuSans);
  font-weight: 500;
}


/* 👇 custom blur reveal animation */

/* globals.css */
@keyframes blur {
  0% {
    filter: blur(10px);
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.blur {
  animation: blur 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) both;
}

/* Scroll on reveal globals.css */
@keyframes scrollReveal {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.98);
    filter: blur(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

.scrollreveal {
  opacity: 0;
  animation: scrollReveal 0.8s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@layer utilities {
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    0%, 100% {
      border-color: transparent;
    }
    50% {
      border-color: white;
    }
  }

  .animate-typing {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white; /* cursor */
    animation: typing 3s steps(30, end) forwards, blink 0.7s step-end infinite;
  }
}
